<div class="zjy" ng-repeat="vo in dlist">
 <div class="imgplace" >
    <a ng-href="#/drive"><img ng-src="{{ENV.api}}{{vo.pcDrivesImg}}" alt=""></a>
     <div class="countlove"><i class="glyphicon glyphicon-star"></i>&nbsp;<span>{{vo.solaCount}}</span></div>
     <div class="zjy_desc">
         <p id="zjy_desc1">{{vo.drivesFrom}}</p>
         <p id="zjy_desc3">{{vo.drivesName}}</p>
     </div>
 </div>
 <div class="row descplace">
     <div class="col-md-8 descplaceleft" ng-bind-html="vo.drivesDesc|to_trusted">
     </div>
     <div class="col-md-4 descplaceright">
         <div class="descplacerightcon">
             <div class="condesc"><span>{{vo.drivesDay}}</span></div>
             <span class="conprivce" ng-if="vo.tp.adultPrice > 0">{{vo.tp.adultPrice}}</span>
             <span class="conprivce" ng-if="vo.tp.adultPrice == null">{{vo.adultPrice}}</span>元/人
         </div>
     </div>
 </div>
</div>