<div class="container-fluid channel">
    <a class="navbar-brand" href="#">
        <img alt="" src="/Public/app/img/logo.png">
    </a>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/">首页</a></li>
        <li><a href="#">联系我们</a></li>
        <li>
            <a href="">
                <i class="glyphicon glyphicon-user"></i>
            </a>
        </li>
        <li id=""><a href="register.html">注册</a></li>
        <li id=""><a href="login.html">登录</a></li>
        <li><a href="#">我的订单</a></li>
    </ul>
</div>